@font-face {
    font-family: "Bebas";
    src: url(../Font/Bebas-Regular.ttf);
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: red;
}
.naam,p#adres{
    color: black;
    text-align: left;
    margin: 0.5vh 4vh;
}
h4 {
    margin: 0;
    margin-top: 40px;
}
#bericht{
    margin: 0;
}
#button{
    margin: 0;
}
.mailadres {
    margin-top: 2vh;
    color: red;
}

input[type=text],
select,
textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 90px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 30px;
}

textarea:last-child{
    border-radius: 30px;
    font-size: 10px;
    height: 200px;
}

input[type=mail],
select{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 90px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 30px;
}

input[type=submit] {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 35px;
    background-color: white;
    color: black;
    border: 1px solid rgb(248, 46, 40);
    padding: 20px 30px;
    border-radius: 30px;
}


.formulier {
    font-family: 'Pathway Gothic One', sans-serif;
    margin: 4vh;
}

.kaart {
    margin: 4vh;
}

footer{
    background-color: red;
    color: white;
    padding: 20px;
    margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 70px;
}
footer a{
    color: white;
    margin-left: 50px;
    font-size: 25px;
    font-family: Bebas;
}

footer img{
    width: 6%;
    float: right;
    margin-right: 50px;
}

.logo{
    width: 25%;
    float: left;
    margin-left: 50px;
}

