@font-face {
    font-family: "Bebas";
    src: url(/Font/Bebas-Regular.tff);
}

body {
    margin: 0;
}
a{
    text-decoration: none;
    color:red;
}


h1 {}

h2 {
    font-family: "Bebas";
    font-size: 2em;
    margin: 3vh 4vh;
    margin-bottom: 1vh;
}
h3{
    font-family: 'Pathway Gothic One', sans-serif;
    margin: 0 4vh;
}

h4{
    font-family: 'Pathway Gothic One', sans-serif;
    margin: 0;
    margin-top: 10px;
}

p {
    font-family: 'Pathway Gothic One', sans-serif;
    margin: 0vh 4vh;
}

header {
    display: inline-block;
    width: 100%
}

header img {
    margin-left: 4vh;
    margin-top: 2vh;
}

#menu {
    float: right;
    margin: 3vh 4vh;
}
.mail{
    font-size: 20px;
    margin-top: 2vh;
    color: red;
}




input[type=text], select, textarea {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #6e45c7;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    font-family: 'Pathway Gothic One', sans-serif;
    background-color: white;
    color: black;
    border: 1px solid rgb(248, 46, 40);
    padding: 5px 25px;
    border-radius: 30px;
}


.formulier  {
    font-family: 'Pathway Gothic One', sans-serif;
    margin: 4vh;
}

.kaart{
    margin: 4vh;
}

.fa {
    padding: 15px;
    font-size: 30px;
    width: 20px;
    border-radius: 100px;
    text-align: center;
    text-decoration: none;
    margin: 10px 10px;
}

.fa-facebook {
    background: red;
    color: white;
}

.fa-twitter {
    background: red;
    color: white;
}
.fa-instagram {
    background: red;
    color: white;
}
.social{
    text-align: center;
    margin-top: 150px;
}
a{
   text-decoration: none; 
}
