@font-face {
    font-family: "Bebas";
    src: url(../Font/Bebas-Regular.ttf);
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: red;
}

h2 {
    font-family: "Bebas";
    font-size: 90px;
    margin: 3vh 4vh;
    margin-bottom: 1vh;
}

h3 {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 60px;
    margin: 0 4vh;
}

h4 {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 60px;
    margin: 0;
    margin-top: 40px;
}

p {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 50px;
    margin: 0vh 4vh;
}

header {
    display: inline-block;
    width: 100%
}

header img {
    margin-left: 4vh;
    margin-top: 2vh;
}

#menu {
    float: right;
    margin: 3vh 4vh;
}

.mail {
    margin-top: 2vh;
    color: red;
}

input[type=text],
select,
textarea {
    width: 90%;
    font-size: 40px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
   
    background-color: #6e45c7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 45px;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    font-family: 'Pathway Gothic One', sans-serif;
    background-color: white;
    color: black;
    border: 1px solid rgb(248, 46, 40);
    padding: 5px 30px;
    border-radius: 30px;
}


.formulier {
    font-family: 'Pathway Gothic One', sans-serif;
    margin: 4vh;
}

.kaart {
    margin: 4vh;
}

footer{
    width: 100%;
    background-color: red;
    color: white;
    padding: 20px;
    margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 70px;
}
footer a{
    color: white;
    margin-left: 50px;
    font-size: 25px;
    font-family: Bebas;
}

footer img{
    width: 6%;
    float: right;
    margin-right: 50px;
}

.logo{
    width: 25%;
    float: left;
    margin-left: 50px;
}
