@font-face {
    font-family: "Bebas";
    src: url(../Font/Bebas-Regular.ttf);
}

body {
    margin: 0;
}

banner{
    height:20px;

}

p {
    font-size: 50px;
    font-family: 'Pathway Gothic One', sans-serif;
    margin: 1vh 4vh;
}

h2 {
    font-family: "Bebas";
    font-size: 90px;
    margin: 3vh 4vh;
    margin-bottom: 1vh;
}

h3 {
    margin: 1vh 4vh;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 60px;
    text-align: center;
    color: rgb(248, 46, 40);
}

header {
    display: inline-block;
    width: 100%
}

header img {
    margin-left: 4vh;
    margin-top: 2vh;
}
#menu{
    float: right;
    margin: 3vh 4vh;
}
.verwachten {
    margin: 0vh 4vh;
}

.programma h2 {
    color: rgb(248, 46, 40)
}
footer{
    height: auto;
    background-color: red;
    color: white;
    padding: 20px;
    margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 70px;
}
footer a{
    color: white;
    margin-left: 50px;
    font-size: 25px;
    font-family: Bebas;
}

footer img{
    width: 6%;
    float: right;
    margin-right: 50px;
}

.logo{
    width: 25%;
    float: left;
    margin-left: 50px;
}

.scan{
    float:right;
    margin-top:43px;
    margin-right: 23vw;
}
.time{
    float: right;
}

