
@font-face {
    font-family: "Bebas";
    src: url(../Font/Bebas-Regular.ttf);
}

h3{
    font-family: Bebas;
    font-size: 60px;
    color: red;
    text-align: center;
    margin-top: 40px;
}
img{
    margin: 3vh 4vh;
}
a{
   text-decoration: none; 
}

#back-button{
    height: 100%;
}

a.fa {
    padding: 20px;
    font-size: 90px;
    width: 90px;
    border-radius: 100px;
    text-align: center;
    text-decoration: none;
    margin: 10px 50px;
}

.fa-facebook {
    background: red;
    color: white;
}

.fa-twitter {
    background: red;
    color: white;
}
.fa-instagram {
    background: red;
    color: white;
}
.social{
    text-align: center;
    margin-top: 90px;
    margin-bottom: 30px;
}
