@font-face {
    font-family: "Bebas";
    src: url(../Font/Bebas-Regular.ttf);
}
*{
    text-align: center;
    margin: 0;
    width: 100%;
}

a{
    text-decoration: none;
}

h1{
    font-family: "Bebas";
    font-size: 8em;
    position: absolute;
    z-index: 1;
    padding-top: 1vh;
    margin-top: 1vh
}

video{
    height: 110vh;
}

#scanner{
    position: absolute;
    z-index: 1;
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-top: 14vh; 
}

#detectedCode{
    position: absolute;
    z-index: 1;
    padding-top: 80vh;
    font-family: "Bebas";
    font-size: 3em;
}

#back-button{
    width: 100%;
}

#back{
    width: 150px;
    position: absolute;
    z-index: 1;
    margin-top: 80vh;
    left:  42.4vw;   
}
/* CLEARFIX */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
