@font-face {
    font-family: "Bebas";
    src: url(../Font/Bebas-Regular.ttf);
}
*{
    text-align: center;
    margin: 0;
    width: 100%;
}

h1{
    font-family: "Bebas";
    font-size: 4em;
    position: absolute;
    z-index: 1;
}


#scanner{
    position: absolute;
    z-index: 1;
    width: 100%;
    margin-top: 22vh; 
}

#detectedCode{
    position: absolute;
    z-index: 1;
    padding-top: 65vh;
    font-family: "Bebas";
    font-size: 2em;
}
/* CLEARFIX */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
