/*================================================================
SLIDESHOWS
================================================================*/
.usb-off{
    width: 10%;
    margin-top: 75px;
    margin-right: 0%;
    float: right;
}

.usb-on{
    width: 10%;
    margin-top: 75px;
    margin-right: 0%;
    float: right;
    display: none;
}
/*gebasseerd op https://css-tricks.com/practical-css-scroll-snapping/*/
.mySlides {
    display: inline-block;
    width: 90vw;
    margin: 3% 5%;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}
.slideshow-een img {
    width: 100%;
}
.slideshow-een {
    -webkit-overflow-scrolling: touch;
    margin: 0;
    width: 100%;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    white-space: nowrap;
}

.slideshow-twee img {
    width: 100%;
}
.slideshow-twee {
    -webkit-overflow-scrolling: touch;
    margin: 0;
    width: 100%;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    white-space: nowrap;
}

.slideshow-drie img {
    width: 100%;
}
.slideshow-drie {
    -webkit-overflow-scrolling: touch;
    margin: 0;
    width: 100%;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    white-space: nowrap;
}

::-webkit-scrollbar {
    width: 12px ;
 }

/*scrollbar visible https://stackoverflow.com/questions/22907777/make-scrollbar-visible-in-mobile-browsers en https://www.outsystems.com/forums/discussion/27148/what-if-we-want-the-scroll-option-on-top-of-the-table-like-it-has-at-bottom/*/
 /* Track */
::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
   -webkit-border-radius: 10px;
   border-radius: 20px;
 }

 /* Handle */
 ::-webkit-scrollbar-thumb {
   -webkit-border-radius: 10px;
   border-radius: 10px;
   background: #41617D; 
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
 }

.eerste, .tweede, .derde{
    -webkit-transform:rotateX(180deg); /* Safari and Chrome */
}
.mySlides{
    -webkit-transform:rotateX(180deg); /* Safari and Chrome */
}
/*================================================================

================================================================*/


h1, h2, p {
    white-space: normal;
}
.numbertext {
    color: white;
    font-size: 30px;
    padding: 2%;
    background-color: #ff0000;
    font-family: Bebas;
}

.slideshow-een,.slideshow-twee,.slideshow-drie{
    text-align: left;
}

.eerste,.tweede,.derde{
    text-align: center;
}

.knoppenBachelor .bachelorEen{
    background-color: #ff0000;
    color: white;
}


